<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div ng-controller='NarrowItDownController as nidctrl' class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div id="search-form-holder">
      <div class="form-group">
        <input type="text" ng-model="nidctrl.searchTerm" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button ng-click="nidctrl.narrowIt();" class="btn btn-primary">Narrow It Down For Me!</button>
      </div>
    </div>

    <!-- found-items implemented as a directive component -->
    <found-items found-items="nidctrl.found" on-remove="nidctrl.removeItem(index)"></found-items>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
